[submodule "vendor/OpenCL-Headers"]
	path = vendor/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "vendor/OpenCL-ICD-Loader"]
	path = vendor/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
[submodule "mnn/third-party/MNN"]
	path = mnn/third-party/MNN
	url = https://github.com/dominostars/MNN.git
	branch = playtranslate-android
[submodule "bergamot/third-party/slimt"]
	path = bergamot/third-party/slimt
	url = https://github.com/dominostars/slimt.git
	branch = playtranslate-android
